apiVersion: apps/v1
kind: Deployment
metadata:
  name: selenium-sessions
  labels:
    app: selenium-sessions
    name: selenium-sessions
    component: "selenium-grid-4"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: selenium-sessions
  template:
    metadata:
      labels:
        app: selenium-sessions
        name: selenium-sessions
        component: "selenium-grid-4"
  spec:
    containers:
      - name: selenium-sessions
        image: selenium/sessions:4.9.0
        env:
          - name: SE_EVENT_BUS_HOST
            value: "selenium-event-bus"
          - name: SE_EVENT_BUS_PUBLISH_PORT
            value: "4442"
          - name: SE_EVENT_BUS_SUBSCRIBE_PORT
            value: "4443"
        ports:
          - containerPort: 5556
            protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: selenium-sessions
  labels:
    name: selenium-sessions
    component: "selenium-grid-4"
spec:
  type: ClusterIP
  selector:
    app: selenium-sessions
  ports:
    - name: port1
      protocol: TCP
      port: 5556
      targetPort: 5556