<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite  name="SauceDemo" verbose="1">
    <listeners>
        <listener class-name="setup.listener.TestNGAnnotationTransformer"/>
    </listeners>
    <test name="SauceDemoTest">
        <classes>
            <class name="testCases.example.SauceDemoTest" />
        </classes>
    </test>
</suite>